.Btn-H-BG, .Btn-H-BG:hover, .Btn-H-BG:active, .Btn-H-BG:visited {
  background-color: #2ecc71 !important;
}

.Btn-L-BG, .Btn-L-BG:hover, .Btn-L-BG:active, .Btn-L-BG:visited {
  background-color: #e74c3c !important;
}

.Btn-Y-BG, .Btn-Y-BG:hover, .Btn-Y-BG:active, .Btn-Y-BG:visited {
  background-color: #f1c40f !important;
}
